*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

html,body{

    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: url(game/image/login_background.jpg) no-repeat center center fixed ;
    background-size: cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
  }

  .log_in{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px #000000f5;
  }

  .log_in .login_page{
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      line-height: 100px;
      user-select: none;
      border-radius: 15px 15px 0 0;
      background:#98B406;
  }

  .log_in form {
      padding: 10px 30px 50px 30px;
  }

  .log_in .textfield{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;

  }

  .log_in form .textfield input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-radius: 25px;
    transition: all 0.3s ease;
  }

  .log_in form .textfield input:focus,
  form .field input:valid{
    border-color: #98B406;
  }

  .log_in form .textfield label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  form .textfield input:focus ~ label,
  form .textfield input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #98B406;
    background: #fff;
    transform: translateY(-50%);
  }

  form .textfield input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
  }
  form .textfield input[type="submit"]:active{
    transform: scale(0.95);
  }
  form .signup_link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
  }

  form .signup_link a{
    color: #4158d0;
    text-decoration: none;
  }
  
  form .signup_link a:hover{
    text-decoration: underline;
  }
  